<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>WFD-WIN11TC-108</name>
  <description></description>
  <remoteFS>C:\jenkins6</remoteFS>
  <numExecutors>10</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.slaves.JNLPLauncher">
    <workDirSettings>
      <disabled>false</disabled>
      <internalDir>remoting</internalDir>
      <failIfWorkDirIsMissing>false</failIfWorkDirIsMissing>
    </workDirSettings>
    <webSocket>false</webSocket>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>