<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1249.v7d974144cc14">
  <actions/>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>50</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-c7a5493d-a45f-4be2-8b0f-0b3ccfa596c4</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>Provide below details to deploy new WFM</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>deploy_wfm</name>
          <description>Please provide if you want to Deploy</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>release</name>
          <defaultValue>r9int</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>cluster_id</name>
          <defaultValue>17</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>db_server</name>
          <defaultValue>kacd02-prf01-ins01-shd15-dbs-01.int.acd.mykronos.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>db_name</name>
          <defaultValue>regression4_8</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>destroy_wfm</name>
          <description>Check this if you want to destroy the existing wfm.</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>wfc_stream</name>
          <defaultValue>r9int</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>web_stream</name>
          <defaultValue>r9int</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>environment_name</name>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>PRF - Performance</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>unique_tag</name>
          <description>Unique tag to identify the WFMs in a particular environment. For Performnace Shift Left, unique tag will be "perf_SL". For Performnace Core, unique tag will be "perf_Core". For Performnace 500K, unique tag will be "perf_500K".</description>
          <defaultValue>perf_SL</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>extra_inputs</name>
          <description>JSON for other CAT deployment parameters not specified in this job. Format is {"input_param1": "input_value1", "input_param2": "input_value2"} Where input_value1 is the CAT input parameter name without the leasing param_ The CAT input parameter param_environment would become just "environment" in the JSON Be sure to use double quotes (") and not single quotes (') Example 1For all the performance environemnt , the value will be false.: {"cloud":"Google", "udm_url": "Location Default", "stack": "Engineering", "ums_host": "Location Default", "sdm_host": "Location Default"} Exmaple 2: {"instace_id":"11"}</description>
          <defaultValue>{"instance_id": "17", "redis_hosts": "kacd02-prf01-ins01-dmc11-app-1.int.acd.mykronos.com:26379,kacd02-prf01-ins01-dmc11-app-2.int.acd.mykronos.com:26381,kacd02-prf01-ins01-dmc11-app-3.int.acd.mykronos.com:26382", "redis_master": "kacd02-prf01-ins01-dmc11-app-1.int.acd.mykronos.com:26379", "enable_monitoring": "True","build_level_dfi": "r9int","docker_build_level_ilb": "r9int","sa_num": "bck=1,bgp=1,bgi=0,fnt=1,api=1,udm=0"}</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-0a00fb04-4aac-44e1-8fc6-e41fd516fd50</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>ACD HA WFM details.</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;
			</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.StringParameterDefinition>
          <name>branch</name>
          <description>Bitbucket branch of project https://engstash.int.kronos.com/projects/PER/repos/perf-automation where all the scripts are located. All the code and all the Neoload scripts should be in the same branch</description>
          <defaultValue>Saksham</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>submitter</name>
          <description>As firstname.lastname@kronos.com</description>
          <defaultValue>saksham.rana@ukg.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>nmon_iteration</name>
          <description>Can not be empty</description>
          <defaultValue>9000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>nmon_interval</name>
          <description>Can not be empty</description>
          <defaultValue>2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-3ec7b023-1ff5-432e-82fe-47ea0818521e</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>Details of Warm Up Neoload script, leave these empty to skip.</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;
			</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.StringParameterDefinition>
          <name>warmup_project_path</name>
          <description>Path of a zip file containing .nlp file, relative to the workspace. Bitbucket branch of project https://engstash.int.kronos.com/projects/PER/repos/neoload where warmup scripts are located.</description>
          <defaultValue>\Shared_Service_Regression.zip</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>warmup_scenario</name>
          <description>Name of warmup scenario in the project, in case of multiple scenarios please input comma separated values.</description>
          <defaultValue>IA_Script_Scenario</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>warmup_users_count</name>
          <description>User count for license</description>
          <defaultValue>200</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>warmup_duration</name>
          <description>If using a shared license, the duration of the lease</description>
          <defaultValue>2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-0afa23ff-c53c-4054-9660-7dac359e175d</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>Details of Database script, leave these empty to skip.</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;
			</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.StringParameterDefinition>
          <name>pre_db_script_path</name>
          <description>Path relative "performance/bin" directory</description>
          <defaultValue>bin/sqlscript/50k_sl_prevalidation</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>post_db_script_path</name>
          <description>Path relative "performance/bin" directory</description>
          <defaultValue>bin/sqlscript/50k_sl_postvalidation</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-a245745f-edd9-4108-8059-479793250df4</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>Details of Main 50K Test. Leave these empty to skip</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;
			</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.StringParameterDefinition>
          <name>test_project_path</name>
          <description>Provide the path of the zip file which contains the .nlp file, relative to the Git Repository</description>
          <defaultValue>\Shared_Service_Regression.zip</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>test_scenario</name>
          <description>Provide the Scenario Name which needs to be executed, in case of multiple scenarios, input comma-separated values.</description>
          <defaultValue>IA_Script_Scenario</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>test_users_count</name>
          <description>Provide the number of users for which the license needs to be leased.</description>
          <defaultValue>500</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>test_duration</name>
          <description>Provide the duration for which the license needs to be leased.</description>
          <defaultValue>3</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-2b9f55d4-6271-4dd8-a308-18b4c3c68cd4</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>Details of 50k WFM</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;
			</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.StringParameterDefinition>
          <name>db_cluster</name>
          <description>Provide Db Cluster ID</description>
          <defaultValue>17</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <jenkins.plugins.parameter__separator.ParameterSeparatorDefinition plugin="parameter-separator@1.3">
          <name>separator-8360b10d-9d74-4708-8159-4934d1ad59c5</name>
          <separatorStyle>border-width: 0</separatorStyle>
          <sectionHeader>Details of 50k Revert Test Script. Leave these empty to skip</sectionHeader>
          <sectionHeaderStyle>
				background-color: #dbdb8e;
				text-align: center;
				padding: 4px;
				color: #343434;
				font-size: 22px;
				font-weight: normal;
				text-transform: uppercase;
				font-family: 'Orienta', sans-serif;
				letter-spacing: 1px;
			</sectionHeaderStyle>
        </jenkins.plugins.parameter__separator.ParameterSeparatorDefinition>
        <hudson.model.StringParameterDefinition>
          <name>revert_project_path</name>
          <description>Provide the path of the zip file which contains the .nlp file, relative to the Git Repository</description>
          <defaultValue>\Shared_Service_Regression.zip</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>revert_scenario</name>
          <description>Provide the Scenario Name which needs to be executed, in case of multiple scenarios, input comma-separated values.</description>
          <defaultValue>IA_Script_Scenario</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>revert_users_count</name>
          <description>Provide the number of users for which the license needs to be leased.</description>
          <defaultValue>1000</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>revert_duration</name>
          <description>Provide the duration for which the license needs to be leased.</description>
          <defaultValue>2</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.9">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsScmFlowDefinition" plugin="workflow-cps@2803.v1a_f77ffcc773">
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.12.1">
      <configVersion>2</configVersion>
      <userRemoteConfigs>
        <hudson.plugins.git.UserRemoteConfig>
          <url>https://engstash.int.kronos.com/scm/per/perf-automation.git</url>
          <credentialsId>Abhishek-jenkins</credentialsId>
        </hudson.plugins.git.UserRemoteConfig>
      </userRemoteConfigs>
      <branches>
        <hudson.plugins.git.BranchSpec>
          <name>*/master</name>
        </hudson.plugins.git.BranchSpec>
      </branches>
      <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
      <submoduleCfg class="empty-list"/>
      <extensions>
        <hudson.plugins.git.extensions.impl.CloneOption>
          <shallow>true</shallow>
          <noTags>false</noTags>
          <reference/>
          <timeout>20</timeout>
          <depth>1</depth>
          <honorRefspec>false</honorRefspec>
        </hudson.plugins.git.extensions.impl.CloneOption>
      </extensions>
    </scm>
    <scriptPath>jenkins/_Full_Workflow_Perf50k.groovy</scriptPath>
    <lightweight>false</lightweight>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>