<?xml version="1.1" encoding="UTF-8" standalone="no"?><project>
  <actions/>
  <description>JMeter TK regression Attempt</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.9">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <scm class="hudson.plugins.git.GitSCM" plugin="git@4.12.1">
    <configVersion>2</configVersion>
    <userRemoteConfigs>
      <hudson.plugins.git.UserRemoteConfig>
        <url>https://engstash.int.kronos.com/scm/per/test.git</url>
        <credentialsId>4fcca6c0-a83d-48b1-8a04-13db670deef9</credentialsId>
      </hudson.plugins.git.UserRemoteConfig>
    </userRemoteConfigs>
    <branches>
      <hudson.plugins.git.BranchSpec>
        <name>*/develop</name>
      </hudson.plugins.git.BranchSpec>
    </branches>
    <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
    <submoduleCfg class="empty-list"/>
    <extensions>
      <hudson.plugins.git.extensions.impl.CloneOption>
        <shallow>false</shallow>
        <noTags>false</noTags>
        <reference/>
        <timeout>10</timeout>
        <honorRefspec>false</honorRefspec>
      </hudson.plugins.git.extensions.impl.CloneOption>
      <hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
        <sparseCheckoutPaths>
          <hudson.plugins.git.extensions.impl.SparseCheckoutPath>
            <path>/TimekeepingRegressionJmeter</path>
          </hudson.plugins.git.extensions.impl.SparseCheckoutPath>
        </sparseCheckoutPaths>
      </hudson.plugins.git.extensions.impl.SparseCheckoutPaths>
    </extensions>
  </scm>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

USERNAME="superuser"
REMOTE_HOST="kacd02-prf05-ins01-ui97-test-1101215533768.int.acd.mykronos.com"
REMOTE_PATH="C:/Users/superuser/Desktop/MahdiJenkins"

# Copy files via scp
sshpass -p "Kr0n0s@Cloud" scp -r /var/lib/jenkins/workspace/test/jmeter-freestyle-attempt01/TimekeepingRegressionJmeter/ "${USERNAME}@${REMOTE_HOST}:${REMOTE_PATH}"</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sshpass -p Kr0n0s@Cloud ssh -T -v -o PreferredAuthentications=password superuser@kacd02-prf05-ins01-ui97-test-1101215533768.int.acd.mykronos.com 'cd "C:/Users/superuser/Desktop/MahdiJenkins" &amp;&amp; ./testMahdi.bat'</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sshpass -p Kr0n0s@Cloud ssh -T -v -o PreferredAuthentications=password superuser@kacd02-prf05-ins01-ui97-test-1101215533768.int.acd.mykronos.com 'cd "C:/Users/superuser/Desktop/MahdiJenkins" &amp;&amp; ./zipMahdi.bat'</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
    <hudson.tasks.Shell>
      <command>sshpass -p Kr0n0s@Cloud scp superuser@kacd02-prf05-ins01-ui97-test-1101215533768.int.acd.mykronos.com:C:/Users/superuser/Desktop/apache-jmeter-5.5/bin/results123.zip /tmp</command>
      <configuredLocalRules/>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>