<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1249.v7d974144cc14">
  <actions/>
  <description>Execute NeoLoad test/ works developed by Pipeline team</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Branch</name>
          <description>Branch to use for checking out project, develop by default. Project is located at repo: https://engstash.int.kronos.com/projects/PER/repos/neoload/browse</description>
          <defaultValue>develop</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Project</name>
          <description>Relative path from the repository root neoload to zip containing the .nlp file.For example, \shift_left\50k_automation</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Scenario</name>
          <description>Name of scenario to be executed, in case of multiple scenarios please input comma separated values.</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Users</name>
          <description>If using a shared license, the number of virtual users to lease</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>test_name</name>
          <description>If using a shared license, the duration of the lease (how many hours the test will run for)</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>Submitter</name>
          <description>firstname.lastname@ukg.com</description>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.9">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2803.v1a_f77ffcc773">
    <script>
            timestamps {
                node ('master') { 
                    //NTS license can be found by logging into http://wfd-tc530:8080/#!licenses (admin/admin)
                    def neoload_project="NeoLoadCode"
                    def unzipdir="C:\\jenkins\\workspace\\NeoLoad_Execution\\NeoLoadCode\\shift_left\\50k_automation\\"
                    def NeotysTeamLicense='MCwCFBPKpem5ckDMZqNUmrH/eZQqzXarAhRo62I0Mlj+GmjQR07vhO51DCoiuQ=='
                    def Neoload_Dir = "C:\\Users\\superuser\\Documents\\NeoLoad Projects"
                    def Neoload_Exe  = "C:\\Program Files\\NeoLoad 7.11\\bin\\NeoLoadCmd"
					def projectzip = "${env.WORKSPACE}\\NeoLoadCode${env.Project}"
                    def Project_Path = "${env.Project}"- ~/\.\w+$/
                    def projectpath = "${env.WORKSPACE}\\NeoLoadCode${env.Project_Path}"
                    def Project_Name1 = "${Project_Path}"- ~/\\\w+/
                    def Project_Name2 = "${Project_Name1}"- ~/\\\w+/   
                    def projectname = "${Project_Name2}".replaceAll("[^a-zA-Z0-9 _]+","")   
                    

                    stage('CleanWorkspace') {
                        cleanWs()
                        dir("${env.WORKSPACE}@tmp") { deleteDir() }
                        dir("${env.WORKSPACE}@script") { deleteDir() }
                        dir("${env.WORKSPACE}@script@tmp") { deleteDir() }
                    }

                
                    stage ('Execute Neoload Scenario') {
                        sh """
                        echo "currentDate=`date +"%H:%M:%S" -u`" &gt; env.props
                         """ 
                        prop = readProperties file:'env.props'
                        prop.each{key, value -&gt;
                            env[key] = value
                        }
 			            long start=currentBuild.startTimeInMillis/1000
                        sh """
                         echo "start_TimeStamp= ${start}" &gt; env.props
                        """
                	prop = readProperties file:'env.props'
                        prop.each{key, value -&gt;
                            env[key] = value
                        }
                        //println ${env.currentDate}
                        sh """
                         curl -X POST "http://neoload-web-api.int.acd.mykronos.com/v3/workspaces/63dac0a4cd45bc4c22f5c842/tests/"${Scenario}"/start?testResultName="${test_name}"" -H "accept: application/json" -H "accountToken: pptQrX23TOS7WXE0ZvzSo09g"
                    """
                    if("${test_name}"=="maintest"){
                    sleep 5400
                        
                    }
                     if("${test_name}"=="reverttest"){
                    sleep 1800
                        
                    }
                     if("${test_name}"=="warmup"){
                    sleep 4400
                        
                    }
                    
                    }
		    stage ('Retrieve End Time'){
                        println(currentBuild.startTimeInMillis/1000)
                        println(currentBuild.duration/1000)
                	long start=currentBuild.startTimeInMillis/1000
                	int dur=currentBuild.duration/1000
                	endTime=start+dur
                	sh """
                      echo "endTime = ${endTime}" &gt; env.props
                      """
                        prop = readProperties file:'env.props'
                        prop.each{key, value -&gt;
                            env[key] = value
                        }
                       println "endTime from env file :${env.endTime}"
                	}
                    
                    
                }
            }
         </script>
    <sandbox>false</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>