<?xml version="1.1" encoding="UTF-8" standalone="no"?><flow-definition plugin="workflow-job@1249.v7d974144cc14">
  <actions>
    <org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction plugin="workflow-multibranch@716.vc692a_e52371b_">
      <jobPropertyDescriptors>
        <string>hudson.model.ParametersDefinitionProperty</string>
        <string>jenkins.model.BuildDiscarderProperty</string>
      </jobPropertyDescriptors>
    </org.jenkinsci.plugins.workflow.multibranch.JobPropertyTrackerAction>
  </actions>
  <description/>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.34">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
    <hudson.plugins.throttleconcurrents.ThrottleJobProperty plugin="throttle-concurrents@2.9">
      <maxConcurrentPerNode>0</maxConcurrentPerNode>
      <maxConcurrentTotal>0</maxConcurrentTotal>
      <categories class="java.util.concurrent.CopyOnWriteArrayList"/>
      <throttleEnabled>false</throttleEnabled>
      <throttleOption>project</throttleOption>
      <limitOneJobWithMatchingParams>false</limitOneJobWithMatchingParams>
      <paramsToUseForLimit/>
    </hudson.plugins.throttleconcurrents.ThrottleJobProperty>
    
    <jenkins.model.BuildDiscarderProperty>
      <strategy class="hudson.tasks.LogRotator">
        <daysToKeep>-1</daysToKeep>
        <numToKeep>10</numToKeep>
        <artifactDaysToKeep>-1</artifactDaysToKeep>
        <artifactNumToKeep>-1</artifactNumToKeep>
      </strategy>
    </jenkins.model.BuildDiscarderProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>Email</name>
          <defaultValue>tulika.kumari@ukg.com,vinay.sharma@ukg.com</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ZipFileName</name>
          <defaultValue>PublicRegressionAPIs_2min</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>BatchFileName</name>
          <defaultValue>RunPublicRegressionTestAPIs_2min</defaultValue>
          <trim>false</trim>
        </hudson.model.StringParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2803.v1a_f77ffcc773">
    <script>
node ('master') { 
    label 'master || linux_node'
	properties([
		buildDiscarder(logRotator(numToKeepStr: '10')),
		parameters([
		string(name: 'Email', defaultValue: 'tulika.kumari@ukg.com,vinay.sharma@ukg.com'),
		string(name: 'ZipFileName', defaultValue: "PublicRegressionAPIs_2min"),
		string(name: 'BatchFileName', defaultValue: "RunPublicRegressionTestAPIs_2min"),
			])])  


//MAIN execution

stage('Regression') 
                    {
                       def Jmeter = build(job: 'Jmeter_Execution',
                        parameters: [
						string(name: 'ZipFileName', value: "${params.ZipFileName}"),
						string(name: 'BatchFileName', value: "${params.BatchFileName}")
						
                            ])
                            
                            env.Start_TIME = Jmeter.getBuildVariables().get('start_TimeStamp')
                             env.End_TIME = Jmeter.getBuildVariables().get('endTime')
                             	println("${env.Start_TIME}")
					println("${env.End_TIME}")
					 
                    }
                //  sleep 120;  
                    
  stage('Report') 
                    {
                       publish_build = build(job: 'Regression_Report',
                        parameters: [
						string(name: 'start_time', value:"${env.Start_TIME}"),
						string(name: 'end_time', value: "${env.End_TIME}")
						
                            ])
                    }
                      
					



}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>